<!DOCTYPE html>
<html>
<head>
    <title>Trick Collection App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Trick Collection App</h1>
        <ul class="list-group">
            {% for todo in todos %}
            <li class="list-group-item">{{ todo.title }}</li>
            {% endfor %}
        </ul>
        <nav>
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="/?page={{ page - 1 }}">Previous</a>
                </li>
                {% endif %}
                <li class="page-item disabled">
                    <span class="page-link">Page {{ page }} of {{ (total_todos + todos_per_page - 1) // todos_per_page }}</span>
                </li>
                {% if page < (total_todos + todos_per_page - 1) // todos_per_page %}
                <li class="page-item">
                    <a class="page-link" href="/?page={{ page + 1 }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</body>
</html>
